<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="username" value="**api username here **"/>
    <add key="secret" value="**api secret here **"/>
    <add key="site_id" value="**api siteId here **"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="100000" />
    <add key="use_local" value="true"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="20000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>

